importFrom(MASS, mvrnorm)
export(mediate, medsens, summary.mediation, summary.medsens, plot.medsens)

S3method(summary, mediation)
S3method(summary, medsens)
S3method(plot, medsens)
S3method(print, mediation)
S3method(print, medsens)
S3method(print, summary.mediation)
S3method(print, summary.medsens)
